
*.class
*.lst
target/surefire-reports/AMGProcessorEqualsTest.txt
target/surefire-reports/ASLProcessorEqualsTest.txt
target/surefire-reports/ASTProcessorEqualsTest.txt
target/surefire-reports/OMGProcessorEqualsTest.txt
.idea/workspace.xml
target/surefire-reports/TEST-AMGProcessorEqualsTest.xml
target/surefire-reports/TEST-ASLProcessorEqualsTest.xml
target/surefire-reports/TEST-ASTProcessorEqualsTest.xml
target/surefire-reports/TEST-OMGProcessorEqualsTest.xml
task2vimana.iml
.idea/vcs.xml
task/.idea/compiler.xml
task/.idea/misc.xml
task/.idea/modules.xml
task/task1vimana.iml
task2/.idea/compiler.xml
task2/.idea/libraries/Maven__axis_axis_1_4.xml
task2/.idea/libraries/Maven__axis_axis_wsdl4j_1_5_1.xml
task2/.idea/libraries/Maven__biz_futureware_mantis_mantis_axis_soap_client_1_2_9.xml
task2/.idea/libraries/Maven__commons_discovery_commons_discovery_0_2.xml
task2/.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
task2/.idea/libraries/Maven__org_apache_axis_axis_jaxrpc_1_4.xml
task2/.idea/libraries/Maven__org_apache_axis_axis_saaj_1_4.xml
task2/.idea/misc.xml
task2/.idea/modules.xml
task2/task2.iml
