
*.class
*.lst
target/surefire-reports/AMGProcessorEqualsTest.txt
target/surefire-reports/ASLProcessorEqualsTest.txt
target/surefire-reports/ASTProcessorEqualsTest.txt
target/surefire-reports/OMGProcessorEqualsTest.txt
.idea/workspace.xml
target/surefire-reports/TEST-AMGProcessorEqualsTest.xml
target/surefire-reports/TEST-ASLProcessorEqualsTest.xml
target/surefire-reports/TEST-ASTProcessorEqualsTest.xml
target/surefire-reports/TEST-OMGProcessorEqualsTest.xml
task2vimana.iml
.idea/vcs.xml
task/.idea/compiler.xml
task/.idea/misc.xml
task/.idea/modules.xml
task/task1vimana.iml
